MC_VERSION=1.8.8
LISTEN_HOST=127.0.0.1
LISTEN_PORT=25565
HYPIXEL_HOST=mc.hypixel.net
HYPIXEL_PORT=25565
STOPTHELAG_HOST=chi1.qtx.stopthelag.lol
STOPTHELAG_PORT=25566
HYPIXEL_FAST_HOST=mc.hypixel.fast
HYPIXEL_FAST_PORT=25565
DASHBOARD_HOST=127.0.0.1
DASHBOARD_PORT=25765
STATE_DIR=state
